<div ng-app="sailsapp" ng-controller="baseCtrl">
  <h1>Notes</h1>
  <p>powered by Sails.js</p>
  <hr>
  <ul>
    <li ng-repeat="note in notes">
      <span>{{note.text}}</span>
    </li>
  </ul>
</div>