<div>
  <h1><%= user.name %></h1>
  <ul>
    <!-- <li ng-repeat="emoji in emojis">
      <span>{{emoji.text}}</span>
    </li> -->
    <% _.each(emojis, function(emoji){ %>
      <li><%= emoji.text %></li>
    <%})%>
  </ul>

</div>